<div class="container">
  <form [formGroup]="emailConfigForm" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column">
          <mat-slide-toggle formControlName="otp-delivery-email-enable" class="m-b-20">
            {{ 'labels.inputs.Enable Email Delivery' | translate }}
          </mat-slide-toggle>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Email Subject' | translate }}</mat-label>
            <input matInput formControlName="otp-delivery-email-subject" required>
            <mat-error *ngIf="emailConfigForm.get('otp-delivery-email-subject').hasError('required')">
              {{ 'labels.inputs.Email Subject' | translate }} {{ 'labels.commons.is required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%">
            <mat-label>{{ 'labels.inputs.Email Body' | translate }}</mat-label>
            <textarea matInput formControlName="otp-delivery-email-body" rows="5" required></textarea>
            <mat-hint><span ngNonBindable>Use {{username}} for username and {{token}} for OTP token</span></mat-hint>
            <mat-error *ngIf="emailConfigForm.get('otp-delivery-email-body').hasError('required')">
              {{ 'labels.inputs.Email Body' | translate }} {{ 'labels.commons.is required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button mat-raised-button [routerLink]="['../']">{{ 'labels.buttons.Cancel' | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!emailConfigForm.valid" type="submit">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

