.account-card {
  .header {
    .profile-image-container {
      .client-image-button {
        min-width: 26px;
        padding: 0 6px;
        margin: 4px;
        line-height: 25px;
      }

      .signature {
        color: white;
        text-align: center;
        margin: 0;
        padding: 2%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.account-overview {
  color: white;
  min-width: 85%;
  margin-left: 10px;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: lightgreen;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: #a5d6a7;
}

.otp-label {
  color: white;
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-input-element::placeholder {
  color: white !important;
}

::ng-deep .mat-input-element {
  color: white !important;
  caret-color: white !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white !important;
}

.validate-otp-button {
  background-color: white;
  color: black;
}
